<footer class="footer container">
	<div class="row">
		<?php echo $this->element('Layout/copyright'); ?>
	</div>
</footer>

<div id="page_url" class="none"><?php echo $_SERVER['REQUEST_SCHEME'].'://'.$_SERVER['HTTP_HOST'];?></div> 