
<link rel="stylesheet" href="/css/pre-styles.css" as="style">
<?php if (isset($compress)){ ?>
		<link rel="stylesheet" type="text/css" href="<?php echo $cssUri;?>"  media="screen" />
		<script async src="<?php echo $jsUri;?> "></script>
	<?php } else { ?>
		<link rel="stylesheet" type="text/css" href="<?php echo $cssUri;?>"  media="screen" />
		<script async src="<?php echo $jsUri;?> "></script>
		<?php
		// foreach($debugCss AS $key=>$path_list){
		// 	if ($key == 'css'){
		// 		foreach($path_list AS $path){
		// 			echo "<link rel='stylesheet' href='".$path."' type='text/css' media='screen' />\n";
		// 		}
		// 	}
		// 	if ($key == 'js'){
		// 		foreach($path_list AS $path){
		// 			echo "<script src='".$path."'></script>\n";
		// 		}
		// 	}
		// 	//echo "<script src='/js/MooSwipe/MooSwipe.js'></script>\n";
		// }
		
		?>
		
<?php } ?>
<link rel="stylesheet" href="/css/fonts.css" media="none" onload="if(media!='all')media='all'">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" onload="if(media!='all')media='all'">
