<ul id="languages">
	<?php //pr($url_lang_prefix); ?>
	<li><a href="/" title="CZ" class="<?php echo (($lang == 'cz')?'active':'')?>">CZ</a></li>
	<li><a href="/en/" title="EN" class="<?php echo (($lang == 'en')?'active':'')?>">EN</a></li>
	
</li>