@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.eot?v' + $appVersion);
	src: url('<%= fontPath %><%= fontName %>.eot?v' + $appVersion + '#iefix') format('embedded-opentype'),
		url('<%= fontPath %><%= fontName %>.woff2?v' + $appVersion) format('woff2'),
		url('<%= fontPath %><%= fontName %>.woff?v' + $appVersion) format('woff'),
		url('<%= fontPath %><%= fontName %>.ttf?v' + $appVersion) format('truetype'),
		url('<%= fontPath %><%= fontName %>.svg?v' + $appVersion + '#<%= fontName %>') format('svg');
	font-weight: normal;
	font-style: normal;
}

.<%= className %> {
	position: relative;
	top: 1px;
	display: inline-block;

	&::before {
		display: inline-block;
		font-family: "<%= fontName %>";
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	span{
		display: none;
	}
}

/*
.<%= className %>-lg,
.<%= className %>--lg{
	font-size: 1.3333333333333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}
.<%= className %>-2x, .<%= className %>--2x { font-size: 2em; }
.<%= className %>-3x, .<%= className %>--3x { font-size: 3em; }
.<%= className %>-4x, .<%= className %>--4x { font-size: 4em; }
.<%= className %>-5x, .<%= className %>--5x { font-size: 5em; }
.<%= className %>-fw,
.<%= className %>--fw{
  width: 1.2857142857142858em;
  text-align: center;
}
*/

<% _.each(glyphs, function(glyph) { %>
.<%= className %>-<%= glyph.name %>::before,
.<%= className %>--<%= glyph.name %>::before{
	content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>"
}
<% }); %>