/*doc
---
title: Buttons
name: 01-buttons
category: Components
---

For button can be used any classic element like `a`, `input`, `button` or `span`.

<h3>Colors</h3>

```html_example
<!-- Simple button -->
<button type="button" class="btn">Simple</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn--primary">Primary</button>

<!-- Provides extra visual weight and identifies the secondary action in a set of buttons -->
<button type="button" class="btn btn--secondary">Secondary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn--success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn--info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn--warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn--danger">Danger</button>

<!-- Indicates a other actions -->
<button type="button" class="btn btn--dark">Dark</button>
<button type="button" class="btn btn--light">Light</button>
```

<h3>Shapes</h3>

```html_example
<button class="btn btn--warning btn--rounded">Rounded</button>
<button class="btn btn--info btn--circle">+</button>
<button class="btn btn--success btn--square">OK</button>
```

<h3>Sizes</h3>

Fancy larger or smaller buttons? Add `.btn--lg` or `.btn--sm` for additional sizes.

```html_example
<p>
	<button type="button" class="btn btn--primary btn--lg">Large button</button>
	<button type="button" class="btn btn--secondary btn--lg">Large button</button>
</p>
<p>
	<button type="button" class="btn btn--primary">Default button</button>
	<button type="button" class="btn btn--secondary">Default button</button>
</p>
<p>
	<button type="button" class="btn btn--primary btn--sm">Small button</button>
	<button type="button" class="btn btn--secondary btn--sm">Small button</button>
</p>
```

Create block level buttons (those that span the full width of a parent) by adding `.btn--block`.

```html_example
<button type="button" class="btn btn--primary btn--lg btn--block">Block level button</button>
<button type="button" class="btn btn--secondary btn--lg btn--block">Block level button</button>
```

<h3>Active state</h3>

Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. For `<button>` elements, this is done via `:active`. For `<a>` elements, it's done with `.active`. However, you may use `.active` on `<button>`s (and include the `aria-pressed="true"` attribute) should you need to replicate the active state programmatically.

<h4>Button element</h4>
No need to add `:active` as it's a pseudo-class, but if you need to force the same appearance, go ahead and add `.active`.

```html_example
<button type="button" class="btn btn--primary btn--lg active">Primary button</button>
<button type="button" class="btn btn--secondary btn--lg active">Button</button>
```

<h3>Disabled state</h3>

<h4>Button element</h4>
Add the disabled attribute to `<button>` buttons.

```html_example
<a href="#" class="btn btn--primary btn--lg disabled" role="button">Primary link</a>
<a href="#" class="btn btn--lg disabled" role="button">Link</a>
```
*/

%btn--disabled {
	background-color: $gray-200;
	border-color: transparent;
	color: $gray-800;
	cursor: default;
}

.btn--disabled {
	@extend %btn--disabled;
}

.btn--primary {
	@extend .btn-primary;
}

.btn--secondary {
	@extend .btn-secondary;
}

// Success appears as green
.btn--success {
	@extend .btn-success;
}

// Info appears as blue-green
.btn--info {
	@extend .btn-info;
}

// Warning appears as orange
.btn--warning {
	@extend .btn-warning;
}

// Danger and error appear as red
.btn--danger {
	@extend .btn-danger;
}

// Other
.btn--dark {
	@extend .btn-dark;
}

.btn--light {
	@extend .btn-light;
}

.btn--rounded {
	border-radius: .375rem;
}

.btn--circle,
.btn--square {
	height: 2rem;
	padding: 0;
	width: 2rem;
}

.btn--circle {
	border-radius: 50%;
}

.btn--square {
	border-radius: 0;
}

.btn--sm {
	@extend .btn-sm;
}

.btn--lg {
	@extend .btn-lg;
}

.btn--block {
	@extend .btn-block;
}

