$content-padding: 3rem !default;
$content-padding-lg: 5rem !default;

/*doc
---
title: Content
name: 01-content
category: Layout
---

You can use several variations of `.content` container.

## Basic
The basic variant has transparent background so you can use it with any parent component.

```html_example
<div class="color-brand-secondary-off2">
	<div class="content">
			<div class="content__inner">
					<h2 class="content__heading">How it works</h2>
			</div>
	</div>
</div>
```

## Light
Use `.content--light` modifier for this variant.

```html_example
<div class="content content--light">
		<div class="content__inner">
				<h2 class="content__heading">BaseStack Frontend</h2>
				<p class="content__claim">
						Mobile
						<strong>&bull;</strong>
						Reliable
						<strong>&bull;</strong>
						Secure
				</p>
		</div>
</div>
```

## Dark
Use `.content--dark` modifier for this variant. Class `.content__heading--small` makes the text sie and margin smaller..

```html_example
<div class="content content--dark">
		<div class="content__inner">
				<h2 class="content__heading content__heading--small">
					Try it for free
				</h2>
		</div>
</div>
```

## Simple
Simple page heading.

```html_example
<div class="content content--light">
		<div class="content__inner text-justify">
				<h2 class="content__heading content__heading--simple-content">Terms of Service</h2>
				<p class="text-muted">Last updated: 24 March 2019</p>
				<p>This privacy policy applies to you when you use the BaseStack services or browse
					the <code>basestack</code> website.</p>
				<h3 class="content__heading content__heading--simple-content content__heading--sub">
					Information we collect
				</h3>
				<h4 class="content__heading content__heading--simple-content content__heading--sub-sub">
					Account information
				</h4>
				<p>When you start using our services, we will ask for some of your personal data,
					for example, your name and email.</p>
		</div>
</div>
```
*/

.content {
	overflow: hidden;
	padding-bottom: $content-padding;
	padding-top: $content-padding;

	@include media-breakpoint-up(lg) {
		padding-bottom: $content-padding-lg;
		padding-top: $content-padding-lg;
	}

	&--light {
		background: $color-white;
	}

	&--dark {
		background: theme-color('primary');
		color: $white;
	}

	&__inner {
		@extend .container;
	}

	&__heading {
		font-size: 2.125rem;
		font-weight: 100;
		margin-bottom: .6875rem;
		text-align: center;

		@include media-breakpoint-up(sm) {
			font-size: 2.75rem;
		}

		@include media-breakpoint-up(md) {
			font-size: 3.25rem;
		}

		&--small {
			font-size: 2rem;
			font-weight: 300;
			margin-bottom: $content-padding;

			@include media-breakpoint-up(sm) {
				font-size: 2.25rem;
			}

			@include media-breakpoint-up(md) {
				font-size: 2.5rem;
				margin-bottom: $content-padding-lg;
			}
		}

		&--simple-content {
			font-size: 2rem;
			font-weight: 300;
			text-align: left;
		}

		&--sub {
			font-size: 1.75rem;
			margin-top: 2.2rem;
		}

		&--sub-sub {
			font-size: 1.4rem;
			margin-top: 1.5rem;
		}
	}

	&__claim {
		@extend .text-center;

		font-weight: 300;
		margin-bottom: 0;
		margin-top: 1rem;

		strong {
			margin: 0 .5rem;
		}

		&--box {
			margin: auto;
			max-width: 33.125rem;
		}
	}
}
