/*doc
---
title: Menu
name: 02-menu
category: Components
---

Menu element is usually used in header for main navigation or as submenu somewhere down on the page.
Footer menus are also common use-case.
Make sure the mobile experience of each menu is touch friendly and consistent with the desktop variant.

### Menu Toggler

```html_example
<a class="menu__toggler" href="#">
	<span class="toggler__icon"></span>
</a>
```

### Base

```html_example
<ul class="menu">
		<li class="menu__item"><a href="#">Get started</a></li>
		<li class="menu__item"><a href="#">Platforms</a></li>
		<li class="menu__item"><a href="#">Principle</a></li>
		<li class="menu__item"><a href="#">Features</a></li>
</ul>
```

### Horizontal
Main menu in page header. It is still vertical on mobile.

```html_example
<ul class="menu menu--horizontal">
		<li class="menu__item"><a href="#">Get started</a></li>
		<li class="menu__item"><a href="#">Platforms</a></li>
		<li class="menu__item"><a href="#">Principle</a></li>
		<li class="menu__item"><a href="#">Features</a></li>
</ul>
```

### Vertical

```html_example
<dl class="menu menu--vertical">
		<dt class="menu__item">
				<a href="#">Getting Started</a>
		</dt>
		<dt class="menu__item">
				<a href="#">Support</a>
		</dt>
		<dt class="menu__item">
				<a href="#">Security</a>
		</dt>
</dl>
```
*/

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	&.show {
		display: block;
	}

	&--sticked {
		background: $color-white;
		left: 0;
		position: absolute;
		right: 0;
		top: 4.05rem;
		z-index: 100;

		.menu__item {
			border-bottom: 1px solid $gray-200;

			@include media-breakpoint-up(md) {
				border: 0;
			}

			a {
				&:hover,
				&:focus {
					background: $gray-100;
					text-decoration: none;
				}
			}
		}

		@include media-breakpoint-up(md) {
			position: static;

		}
	}

	&__item {
		color: theme-color('primary');
		font-size: 1rem;

		a {
			display: block;
			padding: .5rem 1rem;
		}

	}

	&__toggler {
		border: 1px solid $navbar-light-toggler-border-color;
		color: $navbar-light-color;
		font-size: $navbar-toggler-font-size;
		line-height: 1;
		margin: .68rem 1rem;
		padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;

		@include border-radius($navbar-toggler-border-radius);

		@include hover-focus {
			text-decoration: none;
		}

		// Opinionated: add "hand" cursor to non-disabled .navbar-toggler elements
		&:not(:disabled):not(.disabled) {
			cursor: pointer;
		}

		&:hover,
		&--active {
			background: $navbar-light-toggler-border-color;
		}

		&--sticked {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&--vertical {
		display: block;
		margin-bottom: 2rem;

		.menu__item {
			display: block;
			font-weight: 400;
			line-height: 1.25rem;
			margin: 0;
		}

		a {
			display: block;
			padding: .5rem 0;
		}
	}

	&--horizontal {
		.menu__item {
			@include media-breakpoint-up(md) {
				display: inline-block;
			}
		}

		a {
			@include media-breakpoint-up(md) {
				padding: 1.65rem 1rem;
			}
		}
	}
}

.toggler__icon {
	background: $navbar-light-toggler-icon-bg no-repeat center center;
	background-size: 100% 100%;
	content: '';
	display: inline-block;
	height: 1.5em;
	vertical-align: middle;
	width: 1.5em;
}
