<?php 
if (isset($items)){ 

foreach($items AS $item){
?>

<div class="col-md-12 blogShort">
	<?php $article_link = getConfigure('article_prefix').getConfigure('article_detail').'/'.$item->alias.'/'.$item->id.'/'; ?>
	<?php $article_name = $item->name; ?>
	<h2><?php echo $this->Html->link($article_name,$article_link,array('title'=>$article_name),null,false); ?></h2>
	<?php 
	$imgs = [
		0=>['file'=>'http://www.w3schools.com/css/trolltunga.jpg','title'=>'img title'],
		1=>['file'=>'http://placekitten.com/150/150','title'=>'img title2']
	];
	$imgs = json_encode($imgs);
	$img_set = array(
			'imgs'=>$imgs,
			'first'=>true,
			'link'=>$article_link,
			'class'=>'pull-left img-responsive thumb margin10 img-thumbnail',
			'title'=>'test',
			'width'=>215,
			'height'=>150,
			
		
	);
	echo $this->Fastest->img($img_set);
	//echo $this->Html->image('http://placekitten.com/150/150', array('class'=>'pull-left img-responsive thumb margin10 img-thumbnail','alt'=>'')) 
	//echo $this->Html->image('http://placekitten.com/150/150', array('class'=>'pull-left img-responsive thumb margin10 img-thumbnail','alt'=>'')) 
	?>
	
	<article>
	<?php echo $this->Fastest->orez($item->content,200); ?>
	</article>
	<?php echo $this->Html->link(__('Přečíst více'),$article_link,array('title'=>__('přečíst více'),'class'=>'btn btn-blog pull-right marginBottom10'),null,false); ?>
</div>
<?php 
}
echo $this->element('pagination');
} ?>