@import '../../node_modules/bootstrap/scss/functions';

$theme-colors: (
	primary: green,
	secondary: #870d18,
	secondary-off1: #e72628,
	secondary-off2: #c12235,
	body: rgba(#fff, .00), // secondary, 8 % opacity
);

$color-black: #000;
$color-white: #fff;

$pixelratio-1x: 96dpi;
$pixelratio-2x: 192dpi;
$pixelratio-3x: 288dpi;

$breadcrumb-divider: quote('>');

@import '../../node_modules/bootstrap/scss/variables';
