</div>
</div>
</div>

<footer class="docs__footer text-center">
    <hr>
    <div class="container">
        <p class="text-center">Fastest Solutions <%= Time.now.year %></p>
    </div>
</footer>
  <!--script src="../js/app-guide.js"></script-->
<script>
	var togglerElement = document.getElementById("main-menu-toggler");
	var menuElement = document.getElementById("main-menu");

	togglerElement.addEventListener("click", function () {
		if (menuElement.classList.contains('show')) {
			menuElement.classList.remove('show');
		} else {
			menuElement.classList.add('show');
		}

		return false;
	});
</script>
</body>
</html>
