<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex, nofollow">

		<title>Basestack Frontend Design Style Guide <%= title %></title>
		<link rel="shortcut icon" href="../images/favicon.ico" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700&subset=latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../css/style-guide.css">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-faded">
		<div class="container">
            <a class="navbar-brand dropdown show mx-auto" href="index.html" role="button">
            </a>
            <a class="menu__toggler menu__toggler--sticked d-lg-none" id="main-menu-toggler" href="#" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler__icon"></span>
            </a>
			<div class="collapse navbar-collapse" id="main-menu">
				<ul class="nav navbar-nav">
					<li class="nav-item<% if file_name.include?('index.html') %> active<% end %>">
						<a class="nav-link" href="index.html">Intro</a>
					</li>
					<% @categories.sort.each do |category| %>
					<li class="nav-item<% if file_name.include?(category[1]) %> active<% end %>">
						<a class="nav-link" href="<%= category[1] %>"><%= category[0] %></a>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
    <div class="container">
        <div class="row">
            <% if not file_name.include?('index.html') %>
            <div class="col-sm-4 col-lg-3">
                <div class="sidebar">
                    <div class="list-group">
                        <% @blocks.each do |block| %>
                        <a class="list-group-item" href="#<%= block[:name] %>"><%= block[:title] %></a>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="col <% if not file_name.include?('index.html') %>col-sm-8 col-lg-9<% end %>">



